@model EntityLayer.Concrate.Admin

@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="height: 90vh;">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            @using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post))
            {
                <div class="bg-light p-5 border shadow-lg rounded">
                    <h4 class="text-center mb-4">Admin Güncelleme Ekranı</h4>
                    @Html.HiddenFor(m => m.AdminID)
                    @Html.HiddenFor(m => m.AdminStatus)
                    <div class="form-group mb-3">
                        @Html.Label("Kullanıcı Adı", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.AdminUserName, new { @class = "form-control", placeholder = "Kullanıcı Adını Giriniz", @required = "required" })
                    </div>
                    <div class="form-group mb-3">
                        @Html.Label("Şifre", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.AdminPassword, new { @class = "form-control", placeholder = "Şifre Giriniz", @required = "required" })
                    </div>
                    <div class="form-group mb-4">
                        @Html.Label("Yetki", new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.AdminRole, new { @class = "form-control", placeholder = "Rol Giriniz", @required = "required" })
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Admin Güncelle</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
